body {
	margin: auto;
	/*background: white;*/
	font-family: "Helvetica Neue", sans-serif;
	color: rgba(0, 0, 0, .8);
	line-height: 1.8em;
}

@media (orientation: landscape) {
	body {
		max-width: 60em;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: rgba(255, 255, 255, 0.8);
	}

	a {
		color: rgba(255, 255, 255, 0.65) !important;
		text-decoration: none !important;
		font-weight: 800 !important;
	}

	a:hover {
		color: rgba(255, 255, 255, 0.8) !important;
	}
}

@media (min-width: 768px) {
	body {
		width: 70%;
	}
}

a {
	color: rgba(0, 0, 0, .55);
	font-weight: 800;
	text-decoration: none;
}
a:hover {
	color: rgba(0, 0, 0, .75);
}

#intro {
	text-align: justify;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 3em;
}

#name {
	padding-top: 7%;
	text-align: center;
}

#my_photo {
	border-radius: 50%;
	width: 100%;
	margin: 1em;
}

#photo-and-contact {
	min-width: 13em;
	font-size: 90%;
	flex-basis: 20%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

#contact {
	width: 13em;
	text-align: center;
}

#intro_text {
	flex-basis: 65%;
	flex-grow: 1;
	margin: 1em;
}

ul.education {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.education li {
	padding-bottom: .75em;
}

#cv {
	text-align: center;
}

#publications h5 {
	margin-bottom: 0%;
	margin-top: 0%;
	font-weight: 500;
	font-size: 100%;
}

#publications p {
	margin-bottom: 0%;
	margin-top: 0%;
	font-size: 100%;
}

#publications /* First section */ {
	border-top: 1.25px solid grey;
	align-items: center;
	display: flex;
	flex-direction: column;
}

section article {
/*	text-align: justify;*/
	border-bottom: 1.25px solid grey;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	min-width: 100%;
	justify-content: flex-start;
}

.calendarWrapper {
	width: 70%;
	margin: 0 auto;
	display: block;
	position: relative;
	/*  height: 70%;*/
	padding-bottom: 55%; /* 16:9 */
	height: 0;
}

.calendarWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.paper-info	{
	flex-basis: 55%;
	flex-grow: 1;
	margin: 1em;
}

.talk-video {
	flex-basis: 40%;
	min-width: 20em;
}

.talk-video .videoWrapper {
	width: 80%;
	margin: 5%;
	display: block;
	position: relative;
	padding-bottom: 45%; /* 16:9 */
	height: 0;
}

.talk-video video {
	width: 80%;
	height: auto;
	margin: 5%;
	display: block;
	position: relative;
}

.talk-video #coming-soon {
	width: 80%;
	margin: 5%;
	height: 5em;
	position: relative;
	border: .3em dashed cadetblue;
	text-align: center;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.icons a {
	color: rgba(0, 0, 0, .55);
	text-decoration: none;
}

.icons a:hover {
	color: rgba(0, 0, 0, .6);
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 1em 0 0;
	font-size: 120%;
	font-weight: bold;
}

ul.icons li:last-child {
	padding-right: 0 !important;
}

ul.icons li .icon:before {
	font-size: 1.25em;
}

ul.icons li span {
	display: inline-block;
	padding: 0 1em 0 .5em;
	font-size: 80%;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: normal;
}

ul.inline {
	cursor: default;
	list-style: none;
}

ul.inline li {
	display: inline-block;
	padding: 0 1em 0 0;
}

ul.inline li:last-child {
	padding-right: 0 !important;
}

ul.inline li .icon:before {
	font-size: 1.25em;
}

ul.inline li span{
	display: inline-block;
	padding: 0 1em 0 .5em;
}


footer {
	text-align: center;
}

footer .icons {
	font-size: 120%;
}

span.smallcaps {
	font-variant: small-caps;
}
