body {
  margin: auto;
  /*background: white;*/
  font-family: Merriweather, sans-serif;
  color: rgba(0, 0, 0, .8);
  line-height: 1.8em;
  padding: 1%;
}

@media (orientation: landscape) {
  body {
    max-width: 45em;
  }
}

@media (orientation: portrait) {
  body {
	font-size: 2.8vmin
  }
}

#intro {
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#my_photo {
  border-radius: 50%;
  width: 30%;
  margin-top: 7%; 
}

#intro_text {
	padding: 5%;
}

a {
	color: rgba(0, 0, 0, .5);
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: rgba(0, 0, 0, .6);
}



#projects {
	border-top: 1px solid grey;
	margin-top: 2em;
	padding-top: 0px;
}
#projects h2 {
	margin: 0;
	margin-top: 1em;
	padding-left: 3%;
}
#projects article {
	text-align: justify;
	border-bottom: 1px solid grey;
	padding: 3%;
}

#projects article video,
#projects article image,
#projects article a.image {
	width: 70%;
	margin: 0 auto;
	display: block;
}

#projects article h3 {
	margin-bottom: 0;
}

#projects article h4 {
	margin-top: 0;
}

.icons a {
	color: rgba(0, 0, 0, .5);
	text-decoration: none;
}

.icons a:hover {
	color: rgba(0, 0, 0, .6);
}

ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			padding: 0 1em 0 0;
			font-size: 150%;
			font-weight: bold;
		}

			ul.icons li:last-child {
				padding-right: 0 !important;
			}

			ul.icons li .icon:before {
				font-size: 1.25em;
			}

		ul.icons li span{
			display: inline-block;
			padding: 0 1em 0 0;
			font-size: 65%;
			font-family: Merriweather, sans-serif;
		}


footer {
	text-align: center;
}

span.smallcaps {
	font-variant: small-caps;
}