body {
	margin: auto;
	/*background: white;*/
	font-family: sans-serif;
	color: rgba(0, 0, 0, .9);
	line-height: 1.6em;
	padding: 1%;
	font-weight: 200;
}

@media (orientation: landscape) {
	body {
		max-width: 45em;
	}
}

a {
	color: rgba(0, 50, 70, .7);
}

a:hover {
	color: rgb(0, 50, 70);
}

.icons a {
	color: rgba(0, 0, 0, .55);
	text-decoration: none;
}

.icons a:hover {
	color: rgba(0, 0, 0, .6);
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 1em 0 0;
	font-size: 120%;
	font-weight: bold;
}

ul.icons li:last-child {
	padding-right: 0;
}

ul.icons li .icon:before {
	font-size: 1.25em;
}

ul.icons li span {
	display: inline-block;
	padding: 0 1em 0 .5em;
	font-size: 80%;
	font-family: Merriweather, sans-serif;
	font-weight: normal;
}


footer {
	text-align: center;
	font-size: 90%;
}

footer .icons {
	font-size: 100%;
}

span.smallcaps {
	font-variant: small-caps;
}

input {
	width: 7ex;
	text-align: right;
}

#showAdvancedOptions {
	font-size: 85%;
}

.advancedOptions {
	font-size: 85%;
	padding-left: 1ex;
	border-left: .5ex solid rgba(0, 50, 70, .2);
	color: rgba(0, 50, 50, .8);
}

.warning {
	font-size: 85%;
	color: rgba(0, 50, 50, .8);
	text-decoration: underline;
	border-radius: 5px;
	padding: .1ex .3ex;
}

.ingredientAmount {
	background-color: rgba(0, 50, 70, .08);
	border-radius: 5px;
	padding: .1ex .3ex;
}

h1 {
	font-size: 160%;
}

h2 {
	font-size: 130%;
}

h3 {
	margin-bottom: .5ex;
	font-size: 100%;
	font-weight: bold;
}

section {
	border-bottom: .2ex solid rgba(0, 50, 70, .4);
	padding-bottom: 2ex;
}

.recipe ol {
	margin: 0;
}

.recipe ol li {
	padding: .4ex;
}

.recipe li ul li {
	padding: 0;
	margin: 0;
}

.ingredients ul {
	margin: 0;
}



@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: rgba(255, 255, 255, 0.9);
	}

	a {
		color: rgba(255, 255, 255, 0.65);
	}

	a:hover {
		color: rgba(255, 255, 255, 0.8);
	}

	.icons a {
		color: rgba(255, 255, 255, 0.65);
	}

	.icons a:hover {
		color: rgba(255, 255, 255, 0.8);
	}

	.advancedOptions {
		color: rgba(255, 255, 255, 0.65);
		border-left-color: rgba(255, 255, 255, 0.35);
	}

	.warning {
		color: rgba(255, 255, 255, 0.65);
	}

	.ingredientAmount {
		background-color: rgba(255, 255, 255, 0.08);
	}

	input {
		background-color: #333;
		color: rgba(255, 255, 255, 0.9);
	}

	section {
		border-bottom-color: rgba(255, 255, 255, 0.3);
	}
}

@media (min-width: 768px) {
	body {
		width: 70%;
	}
}